.vs/
.idea/
.vscode/
.mqb/
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Artifacts/
artifacts/
SampleProject/Binaries/
SampleProject/Intermediate/
SampleProject/Saved/
SampleProject/DerivedDataCache/
SampleProject/Build/Windows/FileOpenOrder/
Plugins/CookScope/Binaries/
Plugins/CookScope/Intermediate/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.user
*.pdb
*.dll
*.exe
*.pak
*.ucas
*.utoc
